:root {
  --primary-color: #60e098;
  /* --primary-color: #b4ff00; */
  --secondary-color: #3498db;
  --navbar-color: #ffffff;
  --background-color: #eef0f2;
  --text-color: #333333;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  color: var(--text-color);
}

svg {
  width: 0.8vw;
  margin-block: auto;
  path {
    fill: var(--text-color);
    stroke: var(--text-color);
  }
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);

  .navbar {
    margin-top: 1vw;
    position: sticky;
    width: 100%;
    height: fit-content;
    display: flex;

    .encasing {
      width: 87%;
      height: fit-content;
      display: flex;
      background-color: var(--navbar-color);
      padding-inline: 0.5vw;
      padding-block: 0.7vw;
      border-radius: 1vw;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
      margin-left: auto;
      margin-right: 0.5vw;

      .logo {
        font-family: "JetBrains Mono";
        font-weight: bold;
        font-size: 1.3vw;
        margin-left: 1vw;
        margin-right: auto;
        padding-block: auto;
        cursor: pointer;
      }

      .language {
        font-size: 0.8vw;
        margin-right: 1vw;
        margin-left: auto;
        margin-block: auto;
        cursor: pointer;
      }

      .cart {
        font-size: 0.8vw;
        margin-right: 1vw;
        margin-block: auto;
        cursor: pointer;
      }

      .nav-btn {
        font-size: 0.8vw;
        margin-inline: 1vw;
        margin-block: auto;
        cursor: pointer;
        transition: 200ms;
      }

      .nav-btn:hover {
        color: #000000;
        text-decoration: underline;
      }
    }
  }

  .shop {
    width: 7%;
    text-align: center;
    height: fit-content;
    position: sticky;
    margin-right: auto;
    font-size: 1.2vw;
    padding: 0.8vw;
    border-radius: 1vw;
    background: var(--primary-color);
    font-family: "Outfit";
    cursor: pointer;
    transition: 200ms;
  }

  .shop:hover {
    filter: brightness(0.9);
  }
}
